<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div style='height:40px;background-color:red'>
            <a href="../home_supplier" style='float:right;height:40px;margin-left: 20px;'>个人首页</a>
            <a href="../../login/login_supplier" style='float:right;height:40px;margin-left: 20px;'>退出登录</a>
            <span style="float:right;height:40px;margin-left: 20px;">你好{{supplier_name}}</span>
        </div>
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </body>
</html>